body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
p {
  margin: 0;
}

/*                                                      Header Section                 */

.header-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 120px 45px;
}

.header-icon {
  Width: 283px;
}

.head-link:not(:last-child) {
  padding-right: 40px;
}

.home-link {
  color: #4B7FFB !important;
}

.head-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #525756;
}

.signin {
  text-decoration: none;
  color: #4B7FFB;
}

.head-btn {
  padding: 10px;
  color: #4B7FFB;
  border: 1px solid #4B7FFB;
  border-radius: 15px;
  margin-left: 25px;
}

@media only screen and (max-width: 500px) {
  .header-sec {
    flex-wrap: wrap;
    padding: 8px 25px 15px;
  }

  .header-icon {
    Width: 100px;
  }

  .logo-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .menu-icon {
    position: absolute;
    right: 30px;
    cursor: pointer;
  }

  .head-links-div {
    display: none;
    width: 100%;
  }

  .head-link:not(:last-child) {
    padding-right: 0;
  }

  .head-btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .show-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .show-menu .head-link:not(:last-child) {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 501px) {
  .menu-icon {
    display: none;
  }
}


/*                                                      booking Section                 */
.booking-sec {
  background-image: url(./images/bg-color.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 921px;
  position: relative;
  padding-left: 120px;
}

.doctor-img {
  position: absolute;
  right: 0;
  top: 15px;
  width: 700px;
  height: 765px;
}

.booking-heading-div {
  padding-top: 145px;
  width: 700px;
}

.german-heading {
  width: 700px;
  font-weight: 375;
  font-size: 38px;
  color: #201E62;
  margin: 0;
}

.booking-heading {

  font-weight: 600;
  font-size: 60px;
  line-height: 88px;
  color: #FFFFFF;
  margin: 0;
}

.booking-detail {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  width: 640px;
  margin: 20px 0 65px 0;
}

.download-btn {
  padding: 15px 24px 15px 37px;
  border: none;
  background-color: #201E62;
  color: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(32, 30, 98, 0.3);
  border-radius: 30px;
  margin-right: 48px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.booking-btn {
  padding: 15px 15px 15px 25px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  filter: drop-shadow(5px 5px 20px rgba(236, 0, 96, 0.3));
  background-color: transparent;
  text-align: center;
}

.find-div-mbl {
  display: none;
}

.find-div {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  border-radius: 20px;
  background-color: #201E62;
  padding: 0 55px;
}


.find-heading {
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  margin: 10px;
}

.find-child-div {
  background: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  height: 100px;
}

.search-div {
  display: flex;
  flex-direction: column;
  padding: 0 90px 0 60px;
}

.search-lable {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #263238;
}

.search-input {
  border: none;
  padding-top: 5px;

}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: rgba(134, 143, 147, 0.5);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}

.location-div {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-left: 1px solid #1E1C61;

}

.explore-btn {
  position: absolute;
  right: 0;
  background: #4B7FFB;
  border-radius: 50px;
  color: #FFFFFF;
  border: none;
  height: 100%;
  padding: 0px 48px;
  font-weight: 600;
  font-size: 32px;
}


@media (max-width: 500px) {

  .booking-sec {
    background-image: none;
    /* background-size: cover; */
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
  }

  .doctor-res-container {
    background-image: url(/images/pictures/booking-bg-mobile.png);
    position: relative;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .doctor-img {
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    height: 300px;
    width: 100%;
    margin: auto;
  }

  .find-div {
    display: none;
  }

  /* .find-div-mobile {
    width: 335px;
    height: 75px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: #201E62;
    padding: 0 55px;
  }

  .search-input-mbl::placeholder {
    color: #263238;
    font-size: 100px;
  }

  .explore-btn {

    border-radius: 20px;
    padding: 15px;
    font-size: 14px;
  } */


  .booking-heading-div {
    padding: 34px 14px 0 26px;
  }

  .german-heading {
    width: 325px;
    font-weight: 375;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .booking-heading {
    font-weight: 600;
    font-size: 24px;
    width: 300px;
    line-height: 33px;
    color: #201E62;
    margin: 0;
  }

  .booking-detail {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1C1B1F;
    width: 325px;
    margin: 20px 0 65px 0;
  }

  .booking-btn-div {
    display: flex;
    flex-direction: column;
    margin-right: -26px;
    align-items: center;
    background-color: red;
  }

  .download-btn {
    padding: 15px 24px 15px 37px;
    margin: 0 0 15px 0;
    font-size: 16px;
    width: 230px;
  }

  .booking-btn {
    width: 230px;
    font-size: 16px;
    color: #201E62;
    border: 2px solid #201E62;
  }
}

/*  ********************************************** Explore Treatment Section */
.explore-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 130px 0;
}

.explore-heading {
  font-weight: 600;
  font-size: 42px;
  color: #34303D;
  margin: 0;
}

.explore-details {
  width: 650px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #6C6973;
  text-align: center;
}

.job-card-div {
  margin: 50px 0 30px 0;
  display: flex;
}

.job-card-div2 {
  margin-bottom: 95px;
  display: flex;
}

.job-card:not(:last-child) {
  margin-right: 30px;
}

.job-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 535px;
  padding: 30px;
  background-color: #F7F8F9;
  border: 1px solid #EFF1F2;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.job-icon {
  width: 80px;
}

.job-name {
  margin: 30px 0 14px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #34303D;
}

.job-details {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #6C6973;
  width: 475px;
}

.tryIcon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.try-now {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #4B7FFB;
  padding-right: 8px;
}

.seeAll-jobs-btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #201E62;
  box-shadow: 5px 5px 20px rgba(32, 30, 98, 0.3);
  border-radius: 30px;
  color: #FFFFFF;
  border: none;
  padding: 15px 68px;
}

@media (max-width: 500px) {

  .explore-sec {
    margin: 100px 0 55px 0;
  }

  .explore-heading {
    width: 240px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
  }

  .explore-details {
    width: 330px;
    font-size: 14px;
    line-height: 140%;
  }

  .job-card-div {
    margin: 30px 0 15px 0;
  }

  .job-card-div2 {
    margin-bottom: 40px;
  }

  .job-card {
    width: 130px;
    padding: 10px;
    border-radius: 20px;
  }

  .job-card:not(:last-child) {
    margin-right: 20px;
  }

  .job-icon {
    width: 46px;
  }

  .job-name {
    margin: 2px 0 10px 0;
    font-size: 14px;
  }

  .job-details {
    display: none;
  }

  .try-now {
    font-size: 4;
    padding-right: 4px;
  }
}

/* ************************************************************************* why chose us Section */

.why-us-sec {
  display: flex;
  margin: 0 30px 0 50px;
}

.why-us-content-div {
  margin: 40px 0 0 25px;
}

.why-us-frame {
  height: 700px;
  width: 600px;
}

.align-detils {
  text-align: left;
  margin-bottom: 50px
}

.why-us-detail-div {
  display: flex;
  padding: 16px 20px;
  margin-bottom: 16px;
}

.block-icon {
  width: 80px;
  padding-right: 24px;
}

.why-us-heading {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #34303D;
}

.why-us-para {
  margin: 0;
  width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #6C6973;
}

.set-btn-padding {
  margin-top: 40px;
  padding: 17px 32px !important;
  border-radius: 30px;
}

@media (max-width: 500px) {

  .why-us-sec {
    margin: 0;
    padding: 0;
    background-color: #1C1B1F;
  }

  .chose-us-head {
    margin-left: -20px;
  }

  .why-us-frame {
    display: none;
  }

  .why-us-content-div {
    background-color: #F7F4FD;
    padding: 40px 20px;
    width: 100%;
    margin: 0;
  }

  .align-detils {
    margin-bottom: 30px;
  }

  .why-us-detail-div {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    width: 335px;
    background-color: #fff;
  }

  .block-icon {
    padding-right: 10px;
  }

  .why-us-heading {
    font-size: 18px;
    line-height: 130%;
    width: 220px;
    padding-top: 10px;
  }

  .why-us-para {
    padding-top: 10px;
    font-size: 14px;
    line-height: 140%;
    width: 220px;
  }

  .set-btn-padding {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* ************************************************************************* Doctors Detail Section */

.doctors-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 170px 0 85px 0;
  position: relative;
}

.aeros-circle-div {
  position: absolute;
  top: 10px;
  right: 120px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.aero-circle {
  width: 35px;
}

.book-doc-div {
  margin: 50px 0 88px 0;
  display: flex;
}

.book-doc-comtainer {
  padding: 24px 27px 50px;
  background-color: rgba(75, 127, 251, 0.2);
  border-radius: 20px;
}

.book-doc-comtainer:not(:last-child) {
  margin-right: 19px;
}

.doc-details {
  margin: 21px 0 0 15px;
}

.name-rating-div {
  display: flex;
  align-items: center;
}

.doc-loation-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 19, 0.4);
  margin: 17px 0 32px 0;
}

.doc-city {
  margin-left: 8px;
}

.doc-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #111113;
}

.star {
  color: #E08923;
  font-size: 30px;
  margin: 0 4px 0 8px;
}

.doc-rating {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #21212E;
}

.doc-post {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 19, 0.8);
}

.book-doc-btn {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 142.5%;
  background-color: #4B7FFB;
  box-shadow: 5px 5px 20px rgba(75, 127, 251, 0.3);
  border-radius: 30px;
  border: none;
  padding: 10px 95px;
}

@media (max-width: 500px) {

  .doctors-sec {
    align-items: center;
    margin: 50px 0;
    position: relative;
  }

  .doc-head {
    width: 330px;
  }

  .aeros-circle-div {
    display: none;
  }

  .book-doc-div {
    margin: 30px 0 40px 0;
    display: flex;
    flex-direction: column;
  }

  .doc-loation-div {
    margin: 13px 0 18px 0;
  }

  .doc-details {
    margin: 10px 0 0 15px;
  }

  .book-doc-comtainer:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .book-doc-comtainer {
    padding: 20px 18px;
  }
}

/* ************************************************************************* Customer opinion Section */
.customer-div {
  background-color: #F7F4FD;
  padding: 100px 120px;
}

.customer-heading-div {
  position: relative;
  width: 100%;
}

.customer-heading {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
  color: #34303D;
}

.customer-cards-container {
  margin: 60px 0 40px 0;
  display: flex;
}

.customer-card {
  padding: 40px 22px;
  background-color: #FFFFFF;
  border: 1px solid #EFE9FC;
  box-shadow: 0px 4px 20px rgba(61, 59, 75, 0.06);
  border-radius: 12px;
  width: 370px;
}

.customer-card:not(:last-child) {
  margin-right: 30px;
}

.customer-sec-aero {
  right: 0px;
}

.customer-img {
  margin: 0 0 -20px -10px;
}

.customer-star {
  color: #E08923;
  font-size: 30px;
}

.cust-opnion {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #6C6973;
  width: 325px;
}

.customer-details {
  display: flex;
  flex-direction: column;
}

.customer-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #34303D;
  margin-bottom: 2px;
}

.customer-status {
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: #6C6973;
}

.dot-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  text-align: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #DEE3E6;
  margin-right: 8px;
}

.target-dot {
  background-color: #4B7FFB;
}


/* **************************************************************  Article Section */

.artical-section {
  padding: 65px 135px 150px;
  background-image: url(./images/pictures/artical-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.artical-card-container {
  display: flex;
  margin: 10px 0 60px 0;
}

.article-main-heading {
  margin-right: 100px;
}

.artical-card {
  padding: 14px 12px 40px;
  border: 1px solid #F7F4FD;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(66, 67, 77, 0.3);
  border-radius: 12px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-profile {
  border-radius: 10px;
}

.artical-card2 {
  padding-top: 20px;
}

.artical-card:not(:last-child) {
  margin-right: 30px;
}

.article-writer-detail-div {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #909CA1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.writer-name {
  font-size: 14px;
  padding-left: 8px;
}

.article-writer-detail {
  display: flex;
  align-items: center;
}

.article-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #34303D;
  margin: 10px 0;
}

.artical-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #6C6973;
}

.Read-more {
  color: #4B7FFB;
}

.view-all-adjustment {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* *********************************************************   FAQ's Section */
.faq-sec {
  display: flex;
  justify-content: space-between;
  padding: 140px 0px 110px 135px;
}

.faq-left-heading {
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
  color: #34303D;
  margin-bottom: 40px;
}

.faq-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  padding: 17px 30px;
  border: none;
  background: #4B7FFB;
  box-shadow: 5px 5px 20px rgba(77, 169, 255, 0.3);
  border-radius: 30px;
}

.faq-btn-aero {
  font-size: 30px;
}

.faq-right-div {
  width: 600px;
  margin-right: 80px;
}

.collapsible-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible {
  padding: 30px;
  border-bottom: 1px solid #F7F4FD;
}

.collapsible1 {
  padding-top: 0;
}

.toggle-icon {
  display: inline-block;
  margin-left: 50px;
  font-size: 20px;
}

.collapsible-content {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  padding-top: 20px;
  color: #6C6973;
}

.faq-qs-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #34303D;
}

.last-qs {
  border: none;
}

/* *********************************************************   footer */

.footer-sec1 {
  background-color: #201E62;
  text-align: center;
  padding: 65px 120px 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/svg/footer-circle-top.svg);
  background-repeat: no-repeat;
  position: relative;
}

.footer-bottom-circle {
  position: absolute;
  right: -50px;
  bottom: -100px;
}

.footer-heading {
  font-weight: 600;
  font-size: 64px;
  line-height: 135%;
  color: #FFFFFF;
}

.footer-btn-div {
  display: flex;
  margin-top: 60px;
}

.footer-btn1 {
  background-color: #4DA9FF;
  box-shadow: 5px 5px 20px rgba(77, 169, 255, 0.3);
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  border: none;
  margin-right: 40px;
  padding: 15px 24px 15px 34px;
}

.footer-btn2 {
  background-color: transparent;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  border: 1px solid #FFFFFF;
  padding: 15px 14px 15px 34px;
}

.footer-sec2 {
  display: flex;
  padding: 70px 135px;
  border-bottom: 1px solid #DEE3E6;
}

.footer-logos,
.footer-links-container {
  margin-top: 0;
}

.footer-main-logo {
  width: 230px;
}

.under-logo {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #6C6973;
  padding: 20px 0;
}

.social-logos {
  display: flex;
}

.fb {
  margin-right: 20px;
}

.footer-links-container {
  display: flex;
}

.menu-list {
  margin: 0 120px 0 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.aa {
  margin-top: 0;
}

.list-head {
  list-style-type: none;
}

.list {
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #6C6973;
  margin-top: 16px;
}

.copyrights-div {
  display: flex;
  justify-content: space-between;
  padding: 20px 135px 50px;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ADBAC0;
}