body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/*                                                      Header Section                 */

.header-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 120px 45px;
}

.header-icon {
  Width: 283px;
  Height: 61.86px;
}

.head-link:not(:last-child) {
  padding-right: 40px;
}

.home-link {
  color: #4B7FFB !important;
}

.head-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #525756;
}

.signin {
  text-decoration: none;
  color: #4B7FFB;
}

.head-btn {
  padding: 10px;
  color: #4B7FFB;
  border: 1px solid #4B7FFB;
  border-radius: 15px;
  margin-left: 25px;
}


/*                                                      booking Section                 */
.booking-sec {
  background-image: url(./images/bg-color.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 921px;
  position: relative;
  padding-left: 120px;
}

.doctor-img {
  position: absolute;
  right: 0;
  top: 15px;
  width: 700px;
  height: 765px;
}

.booking-heading-div {
  padding-top: 145px;
  width: 700px;
}

.german-heading {
  width: 700px;
  font-weight: 375;
  font-size: 38px;
  color: #201E62;
  margin: 0;
}

.booking-heading {

  font-weight: 600;
  font-size: 60px;
  line-height: 88px;
  color: #FFFFFF;
  margin: 0;
}

.booking-detail {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  width: 640px;
  margin: 20px 0 65px 0;
}

.download-btn {
  padding: 15px 24px 15px 37px;
  border: none;
  background-color: #201E62;
  color: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(32, 30, 98, 0.3);
  border-radius: 30px;
  margin-right: 48px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.booking-btn {
  padding: 15px 15px 15px 25px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  filter: drop-shadow(5px 5px 20px rgba(236, 0, 96, 0.3));
  background-color: transparent;
  text-align: center;
}

.find-div {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  border-radius: 20px;
  background-color: #201E62;
  padding: 0 55px;
}

.find-heading {
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
}

.find-child-div {
  background: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  height: 100px;
}

.search-div {
  display: flex;
  flex-direction: column;
  padding: 0 90px 0 60px;
}

.search-lable {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #263238;
}

.search-input {
  border: none;
  padding-top: 5px;

}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: rgba(134, 143, 147, 0.5);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}

.location-div {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  border-left: 1px solid #1E1C61;

}

.explore-btn {
  position: absolute;
  right: 0;
  background: #4B7FFB;
  border-radius: 50px;
  color: #FFFFFF;
  border: none;
  height: 100%;
  padding: 0px 48px;
  font-weight: 600;
  font-size: 32px;
}

/*  ********************************************** Explore Treatment Section */
.explore-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 130px 0;
}

.explore-heading {
  font-weight: 600;
  font-size: 42px;
  color: #34303D;
  margin: 0;
}

.explore-details {
  width: 650px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #6C6973;
  text-align: center;
}

.job-card-div {
  margin: 50px 0 30px 0;
  display: flex;
}

.job-card-div2 {
  margin-bottom: 95px;
  display: flex;
}

.job-card:not(:last-child) {
  margin-right: 30px;
}

.job-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 535px;
  padding: 30px;
  background-color: #F7F8F9;
  border: 1px solid #EFF1F2;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.job-icon {
  width: 80px;
}

.job-name {
  margin: 30px 0 14px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #34303D;
}

.job-details {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #6C6973;
  width: 475px;
}

.tryIcon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.try-now {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #4B7FFB;
  padding-right: 8px;
}

.seeAll-jobs-btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #201E62;
  box-shadow: 5px 5px 20px rgba(32, 30, 98, 0.3);
  border-radius: 30px;
  color: #FFFFFF;
  border: none;
  padding: 15px 68px;
}


/* ************************************************************************* why chose us Section */

.why-us-sec {
  display: flex;
  margin: 0 30px 0 50px;
}

.why-us-content-div {
  margin: 40px 0 0 25px;
}

.why-us-frame {
  height: 700px;
  width: 600px;
}

.align-detils {
  text-align: left;
  margin-bottom: 50px
}

.why-us-detail-div {
  display: flex;
  padding: 16px 20px;
  margin-bottom: 16px;
}

.block-icon {
  width: 80px;
  padding-right: 24px;
}

.why-us-heading {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #34303D;
}

.why-us-para {
  margin: 0;
  width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #6C6973;
}

.set-btn-padding {
  margin-top: 40px;
  padding: 17px 32px !important;
}

/* ************************************************************************* Doctors Detail Section */

.doctors-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 170px 0 85px 0;
  position: relative;
}

.aeros-circle-div {
  position: absolute;
  top: 10px;
  right: 120px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.aero-circle {
  width: 35px;
}

.book-doc-div {
  margin: 50px 0 88px 0;
  display: flex;
}

.book-doc-comtainer {
  padding: 24px 27px 50px;
  background-color: rgba(75, 127, 251, 0.2);
  border-radius: 20px;
}

.book-doc-comtainer:not(:last-child) {
  margin-right: 19px;
}

.doc-details {
  margin: 21px 0 0 15px;
}

.name-rating-div {
  display: flex;
  align-items: center;
}

.doc-loation-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 19, 0.4);
  margin: 17px 0 32px 0;
}

.doc-city {
  margin-left: 8px;
}

.doc-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #111113;
}

.star {
  color: #E08923;
  font-size: 30px;
  margin: 0 4px 0 8px;
}

.doc-rating {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #21212E;
}

.doc-post {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 19, 0.8);
}

.book-doc-btn {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 142.5%;
  background-color: #4B7FFB;
  box-shadow: 5px 5px 20px rgba(75, 127, 251, 0.3);
  border-radius: 30px;
  border: none;
  padding: 10px 95px;
}

/* ************************************************************************* Customer opinion Section */